{% extends 'base.html' %}
{% load static %}

{% block title %}bhaktapur{%endblock%}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/alltours.css' %}">

    {% endblock %}

{% block nav-bar %}
<ul>
	<a href="{% url 'bmg_app:home'%}"> <li>Home</li></a>
	<a href="{% url 'destination:findaguide'%}"> <li>Find a Guide</li></a>
	<a href="{% url 'destination:trekandtour'%}"> <li> <span> Tour and Treks</span></li></a>
	<a href="{% url 'bmg_app:ourservice'%}"> <li>Our Services</li></a>
	<a href="{% url 'bmg_app:whyus'%}"> <li>Why Us?</li></a>
	<a href="{% url 'bmg_app:store'%}"> <li>Store</li></a>
	{%if 'id' in request.session%}
		<a href="{%  url 'user:logout' %}"> <li> Log Out</li></a>
		{%endif%}
		{% block login%}
		{%if 'id' not in request.session%}
			<a href="{% url 'user:login'%}"> <li><i class="fas fa-user"></i> Login</li></a>
			<a href="{% url 'user:signup_guide'%}"> <li>Register ?</li></a>
		{%endif%}
		{% endblock %}
	<a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
   </ul>
{% endblock %}

{% block media_content %}
   <div class="middle">
		 <div class="middle">
		<h1>Bhaktapur sightseeing Tour</h1>
		<img src="image/bktpur.jpg">
		<div class="content">
		 <h2><b>Overview</b></h2>
		 <h3><b>Duration:</b>1 day</h3>
		 <h4><b>Tour Highlights</b></h4>
		   <h3>Bhaktapur Durbar Square</h3>
           <h3> Changunarayan Temple</h3>
           <h3> Nagarkot</h3>

		   <button onclick=""><b>FIND A GUIDE</b></button>
		</div>
		<P> Roam around this beautiful city and get to know the history and legends hidden within its structures. </P>
	</div>
{% endblock%}










