{% extends 'base.html' %}
{% load static %}

{% block title %}Our services{%endblock%}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/ourservices.css' %}">
{% endblock %}

{% block nav-bar %}
    <ul>
		<a href="{% url 'bmg_app:home'%}"> <li>Home</li></a>
		<a href="{% url 'destination:findaguide'%}"> <li>Find a Guide</li></a>
		<a href="{% url 'destination:trekandtour'%}"> <li>Tour and Treks</li></a>
		<a href="{% url 'bmg_app:ourservice'%}"> <li> <span>Our Services</span> </li></a>
		<a href="{% url 'bmg_app:whyus'%}"> <li>Why Us?</li></a>
		<a href="{% url 'bmg_app:store'%}"> <li>Store</li></a>
		{%if 'id' in request.session%}
		<a href="{%  url 'user:logout' %}"> <li> Log Out</li></a>
		{%endif%}
		{% block login%}
		{%if 'id' not in request.session%}
			<a href="{% url 'user:login'%}"> <li><i class="fas fa-user"></i> Login</li></a>
			<a href="{% url 'user:signup_guide'%}"> <li>Register ?</li></a>
		{%endif%}
		{% endblock %}
		<a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
    </ul>
{% endblock %}

{% block media_content %}
<div class="mid">
    <!-- <p>We aim to provide a reliable and easy to use platform that you can use to hire guides and have an amazing travel experience.You can learn about your guide and book them as per your location,time and price preferences.
		<h1>0ur special services are listed below.</h1>--><p>With Book My Guide you can</p>
	</div>

	<div class="main">
	<div class="card">
		<h1>Plan Private tours</h1>
		<p>Private tours are the tours in which you can hire a guide for yourself or your group offering privacy.
			To find a guide to book a private tour <a href="findaguide.html"> click here.</a> </p>
	</div>
	<div class="card">
		<h1>Plan Shared tours</h1>
		<p>Shared tours are the tours in which you can hire a guide or a join a already booked tour for a much reduced price.
			To find a guide to book a shared tour <a href="findaguide.html"> click here.</a>
		  </p>
	</div>
	<div class="card">
		<h1>Find Local Guides</h1>
		<p>We have a specific badge for a verified local guide so you can enjoy the most authentic Nepali experience that your heart desires.
		To find a local guide <a href="findaguide.html"> click here.</a>
	  </p>
	</div>
	<div class="card">
		<h1>Find Local Places</h1>
		<p>We have a huge collection of places specially the hidden local ones.If you know it,we have it.
			To see a list of our tours and treks <a href="toursandtreks.html"> click here.</a>
		</p>
	</div>
</div>	
{% endblock%}

