{% extends 'base.html' %}
{% load static %}

{% block title %}Why Us{%endblock%}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '../static/css/whyus.css' %}">

    {% endblock %}


{% block nav-bar %}
    <ul>
		<a href="{% url 'bmg_app:home'%}"> <li>Home</li></a>
		<a href="{% url 'destination:findaguide'%}"> <li>Find a Guide</li></a>
		<a href="{% url 'destination:trekandtour'%}"> <li>Tour and Treks</li></a>
		<a href="{% url 'bmg_app:ourservice'%}"> <li>Our Services</li></a>
		<a href="{% url 'bmg_app:whyus'%}"> <li> <span> Why Us?</span></li></a>
		<a href="{% url 'bmg_app:store'%}"> <li>Store</li></a>
		{%if 'id' in request.session%}
		<a href="{%  url 'user:logout' %}"> <li> Log Out</li></a>
		{%endif%}
		{% block login%}
		{%if 'id' not in request.session%}
			<a href="{% url 'user:login'%}"> <li><i class="fas fa-user"></i> Login</li></a>
			<a href="{% url 'user:signup_guide'%}"> <li>Register ?</li></a>
		{%endif%}
		{% endblock %}
		<a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
    </ul>
{% endblock %}

{% block media_content %}
   <div class="content">
	   <h1>Why go through us?</h1>
	   <p>We are highly dedicated to help you choose the perfect guide for you.The features and insights we have are developed so that you can find the guide who is compatible to your needs and overall travel journey.
		  We take special care to ensure the safety and satisfaction of guides and tourists and via the following ways:
	  </p>

		  <li>We make sure the guides are verified and liscensed.</li>
		  <li>Our payment process makes sure that both the guides and tourists don't get scammed.</li>
		  <li>Our reporting system allows you to report a guide using your customer code if you face issues during the service.</li>
		  <li>We have a blocking system in place to block the guides in severe cases.</li>
		  <li>We take a demo tour to ensure quality service from the guides.</li>
		  <li>We offer a wide range of local guides and tourists</li>
	</div>

{% endblock%}

